/*Elements*/
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: rgb(56, 0, 31);
}
h2 {
    color:rgb(106, 13, 63)
}
/*Classes*/
.centertext {
    text-align:center
}
.image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
        border: 10px dotted pink;
        }
.bio {
        margin-left: auto;
        margin-right: auto;
        border: 5 px inset pink;
        background-color: pink;
        text-align: center;
        padding: 20px;
        max-height: 300 px;
        font-size: 18px;
        color: rgb(58, 4, 33);
        border-radius: 25px;
}
.links {
    border-color: pink;
    border-radius: 25px;
    background-color: pink;
    border: 5px;
    padding: 1px 5px;
    text-align:center;
    color: rgb(19, 1, 9);
    width: fit-content;
    margin:auto;
}
/*Ids*/
#footer {
    font-size:x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(19, 1, 9);
}